.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.fruGo-title {
  background-color: black;
  color: dodgerblue;
  font-size: 3rem;
  margin: 0;
  padding: 1rem;
}


.dummy-text-group {
  padding: 0 20px;
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0;
}

.dummy-text {
  margin-top: 25px;
}

.login-button {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: dodgerblue;
  color: black;
}

.user-info {
  font-weight: 600;
  background-color: black;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.cart-bottom-buttons {
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.cart-bottom-button {
  font-size: 1.4rem;
  font-weight: 600;
}

.confirmation-heading {
  font-size: 2rem;
  border: black 7px dashed;
  text-align: left;
  padding: 15px;
  padding-left: 25px;
}

.confirmation-sub {
  font-size: 1.1rem;
  border: black 4px solid;
  text-align: left;
  padding: 15px;
  padding-left: 25px;
}

.confirmation-details {
  font-size: 1.1rem;
  border: black 4px solid;
  text-align: left;
  padding: 15px;
  padding-left: 25px;
}

.completed-orders {
  border: black dashed 5px;
  padding: 5px;
}

.product-edit-button {
  margin-left: 45px;
}

.pending-order {
  display: flex;
  justify-content: space-around;
}