.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.fruGo-title {
  background-color: black;
  color: dodgerblue;
  font-size: 3rem;
  margin: 0;
  padding: 1rem;
}


.dummy-text-group {
  padding: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 20px;
  text-align: left;
}

.dummy-text {
  margin-top: 35px;
}