.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.fruGo-title {
  background-color: lightgray;
  color: dodgerblue;
  font-size: 3rem;
  margin: 0;
  padding: 1rem;
}



